# Created by venv; see https://docs.python.org/3/library/venv.html

#virtualenv
backend/venv/
backend/.venv/
venv/
.venv/


#pycache
backend/__pycache__/
backend/**/*.py[cod]
**/__pycache__/

#envvariables
backend/.env
.env

#idesettings
.vscode/
.idea/

#test&coverage
backend/.pytest_cache/
.pytest_cache/
.coverage
htmlcov/

#logs
*.log

#osfiles
.DS_Store
Thumbs.db